//Color Palet
$beige: #F2FBE0;
$teaGreen: #DAFEB7;
$olivine: #ACC18A;
$metallic: #837A75;
$gray: #605B56;

//@Local-Trash

@font-face {
    //BigBoy Font
    font-family: bigboy;
    src: url(Bigboy.ttf);
}

@font-face {
    //Scrappy Font
    font-family: scrappy;
    src: url(Scrappy.ttf);
}

#title {
    //Title Box
    padding: 10px 20px 30px 4px;
    width: auto;
    height: 5%;
    background-color: $teaGreen;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 300%;

    p {
        //Title Text
        font-family: bigboy;
        margin-top: 1%;
    }
}
  
body {
    //Background
    background-color: $beige;
}

#about {
    //About Box
    margin-top: 100px;

    header {
        //About header
        font-size: 250%;
        font-family: bigboy;
        text-align: center;
    }

    p {
        //
        font-family: scrappy;
        text-align: center;
    }
}



footer {
    background-color: $gray;
    margin-top: 20%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}