@font-face {
    font-family: bigboy;
    src: url(Bigboy.ttf);
  }
  @font-face {
    font-family: scrappy;
    src: url(Scrappy.ttf);
  }
  #title {
    padding: 10px 20px 30px 4px;
    width: auto;
    height: 5%;
    background-color: #dafeb7;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 35%;
    padding-right: auto;
    font-size: 300%;
  }
  #title p {
    font-family: bigboy;
    margin-top: 1%;
  }
  
  body {
    background-color: #f2fbe0;
  }